.img2 {
    position: absolute;
    width: 180px;
    top: 26%;
    left: 50%;
    transform: translateX(-50%);
}
.img{
    position: relative;
}
.text {
    position: absolute;
    bottom: 0;
    background: #ffa5007d;
    padding: 5px;
}