.index {
    width: 100%;
    min-height: 100vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.bg{
    width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,0.5);
}